@charset "utf-8";
/* 공통 요소 */
a {
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-image: url('../images/responsiveBanner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 헤더 */
#header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#ffffff;
    z-index:100;
    height:110px;
    line-height:110px;
    overflow:hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    list-style: none;
}
.logo {
    margin-right: 145px;
    margin-left: 163px;
    justify-content: center;
    float: left;
}
.logo img {
    vertical-align: middle;
}
.menuLeft {
    float: left;
}
.menuRight {
    float: right;
}
.menuRight li:nth-child(2){
    margin-right: 100px;
}
.menuRight li a {
    font-size: 15px;
}
.menuLeft li a,
.menuRight li a {
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.menuLeft li a:hover,
.menuRight li a:hover {
    color: #4B6E64;
    text-decoration: underline;
}
#header.roll {
    height: 85px;
    line-height:85px;
    background : #C2E8DD;
}

#header .navi {
    max-width:1900px;
    margin:0 auto;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#header.roll .navi {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navi ul{margin:0 auto;padding:0; list-style:none;}
.navi ul li{float:left;font-size:17px;font-weight:bold;}
.navi ul li a  {color:#252729; margin: 0 35px;position: relative; top: 3px;}
#header .roll .navi ul li a  {height: 85px;}


/* 메인 컨텐츠(캐러셀) */
.swiper-container.first{
    width: 100%;
    height: 1000px;
    text-align: center;
}
.swiper-container first > .swiper-scrollbar{
    position: relative;
    left: 50%;
    z-index: 2;
    height: 5px;
    width: 231px;
}
.swiper-slide{
    position: relative;
    width: 100%;
    height: 1000px;
}
.swiper-scrollbar{
    /* auto는 margin만 먹음 */
    display: inline-block;
    margin-left: 1200px;
    margin-bottom: 10%;
    width: 231px!important;
    transition: all 400ms ease 0s;
    border-radius: 5px;
    background: rgba(255,255,255,0.50);
}
#main-content{
    top: 0px;
    width: 100%;
    height: 1000px;
    position: relative;
    background-color: #ffffff;
    text-align: center;
}
#main-content .inner{
    display: inline-block;
}
#main-content .inner h3{
    line-height: 60px;
    margin-top: 44px;
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 5px #B9B9B9;
}
#main-content .inner p{
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    margin-top: 397px;
    text-shadow: 0px 0px 5px #B9B9B9;
}
.animated-moving-circle{
    position: absolute;
    z-index: 1;
    top: 110px;
}
.animated-moving-circle{
    float: left;
}
.top-circle{
    display: inline-block;
}
#circle1 div{
    width: 341px;
    height: 341px;
    margin-top: 58px;
    border-radius: 50%;
    background: #FFFFFF;
    background: RGBA(255,255,255,0.5);
}
#circle2 div{
    width: 689px;
    height: 689px;
    margin-top: 0;
    margin-left: 734px;
    border-radius: 50%;
    background: #90D4C2;
    background: RGBA(135,213,214,0.5);
}
.bottom-circle{
    display: inline-block;
}
#circle3{
    width: 597px;
    height: 597px;
    border-radius: 50%;
    display: inline-block;
    background: #EDFFF0;
    background: RGBA(237,255,240,0.5);
}
#circle4{
    width: 248px;
    height: 248px;
    border-radius: 50%;
    display: inline-block;
    background: #87D5D6;
    background: RGBA(144,212,194,0.5);
}

/* 인디케이터 */
#indicator{
    position:fixed;
    padding: 0;
    margin: 0;
    list-style: none;
    top: 40%;
    right: 20px;
    width: 125.24 px;
    height: 169 px;
    z-index: 50;
    background-color: transparent;
}
#indicator li{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 30px;
    background: url('../images/Indicator-icon-default.svg');
    background-size: cover;
    cursor: pointer;
}
#indicator li:hover, #indicator li:active {
    background: url('../images/Indicator-icon-hover.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 30px;
}
#indicator li span{
    width: 60px;
    height: 10px;
    border-radius: 10px;
    background-color: #90D4C2;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 2px 0 2px;
    position: absolute;
    top: 20%;
    left: -80px;
}

/* 개요 콘텐츠 */
#introduction-content{
    position: relative;
    width: 100%;
    z-index: 2;
    height: 975 px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: content-box;;
}
.inner .animal{
    text-align: center;
}
.inner .animal li {
    width: 200px;
    margin: -24px;
    display: inline-block;
}
#introduction-content .inner h4 {
    margin-top: 127px;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
#introduction-content .inner p {
    margin-top: 49px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

/* 반응형 배너 */
.responsive-banner-start{
    position: relative;
    width: 100%;
    height: 300 px;
    box-sizing: content-box;
    padding-top: 300px;
}
.responsive-banner-end{
    position: relative;
    width: 100%;
    height: 300 px;
    box-sizing: content-box;
    padding-top: 300px;
}

/* 기능 콘텐츠 */
#feature-content{
    position: relative;
    width: 100%;
    height: 450 px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    text-align: center;
}
#feature-content .inner {
    display: inline-block;
}
#feature-content .feature{
    margin-top: 65px;
    text-align: center;
}
.feature li img{
    margin-top: 50px;   
}
.feature li p{
    margin-top: 20px !important;  
}
.inner .feature li {
    width: 200px;
    margin-left: 20px;
    display: inline-block;
}
.inner .feature li:first-child{
    margin-left: 0px;
}
.inner .feature div, .inner .feature figure {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: #ffffff;
    box-sizing: border-box;
}
#feature-content h4 {
    font-weight: bolder;
    color: #4B6E64;
    font-size: 25px;
    text-align: center;
}
#feature-content .inner p {
    color: #252729;
    margin-top: 49px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

/* 리뷰 콘텐츠 */
#review-content{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #87D5D6;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}
#review-content .inner{
    display: inline-block;
}
#review-content .inner h4 {
    font-weight: bolder;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}
#review-content .inner p {
    color: #ffffff;
    margin-top: 49px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.review-wrapper{
    text-align: center;
}
.right-review-div{
    margin-right: 250px;
    display: inline-block;
}
.left-review-div{
    margin-left: 250px;
    display: inline-block;
}
.review-div{
    width: 340px;
    height: 109px;
    background-color: #FFFFFF;
    border-radius: 169px;
    box-shadow: 0px 6px 6px #837a7a;
}
.right-review-div div:nth-child(n+2){
    margin-top: 18px;
}
.left-review-div div:nth-child(n+2){
    margin-top: 18px;
}
.profile-circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    float: left;
    margin-left: 21px;
    margin-top: 25px;
    margin-right: 17px;
}
.profile-all-text{
    text-align: left;
    padding-top: 20px;
    width: 300px;
}
.review-div .profile-bold-text{
    font-size: 15px;
    font-weight: bold;
    color: #252729;
}
.review-div p{
    margin-top: 9px;
    font-size: 15px;
    color: #252729;
}
.phone-wrapper{
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 10;
    margin-top: 140px;
    margin-bottom: 200px;
    transform: translate(-50%, -50%);
}
.phone-content{
    width: 310px;
    height: 576px;
    border-radius: 50px;
    background-color: #FFFFFF;
    border: 0.5px solid  #707070;
    box-shadow: 0px 6px 6px #A0A0A0;
}
.inner-phone{
    width: 270px;
    height: 530px;
    margin-left: 20px;
    margin-top: 20px;
    border: 0.5px solid  #707070;
    border-radius: 40px;
    background-color: transparent;
}
.inner-phone img{
    margin-top: 43px;
    margin-left: -120px;
    width: 62.63px;
    height: 20.9px;
}
.search-bar{
    text-align: center;
    margin-top: 33px;
}
.search-bar li{
    display: inline-block;
}
.search-bar li:nth-child(1) div{
    width: 158px;
    height: 27px;
    border-radius: 20px;
    background-color: #C2E8DD;
}
.search-bar li:nth-child(2) div{
    width: 35px;
    height: 27px;
    margin-left: 8px;
    border-radius: 20px;
    background-color: #C2E8DD;
}
.swiper-container.second{
    width: 270px;
    height: 530px;
    overflow: hidden;
}
.swiper-slide.second{
    height: 530px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.first-feed{
    width: 222px;
    height: 153px;
    margin-top: 27px;
    margin-left: 25px;
    margin-bottom: 3px;
    border-radius: 24px;
    box-shadow: 0px 3px 6px #B9B9B9;
    background-color: #ffffff;
}
.second-feed{
    width: 222px;
    height: 153px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 24px;
    box-shadow: 0px 3px 6px #B9B9B9;
    background-color: #ffffff;
}
.third-feed{
    width: 222px;
    height: 153px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 24px;
    box-shadow: 0px 3px 6px #B9B9B9;
    background-color: #ffffff;
}
.feed-circle-div{
    margin-top: 26px;
    margin-left: 12px;
    position: absolute;
}
.feed-circle{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #C2E8DD;
}
.feed-write{
    margin-left: 63px;
}
.feed-write li:nth-child(1){
    padding-top: 32px;
}
.feed-write li:nth-child(1) div{
    width: 31px;
    height: 10px;
    background-color: #252729;
    border-radius: 8px;
}
.feed-write li:nth-child(2) div{
    width: 51px;
    height: 10px;
    background-color: #797A7A;
    border-radius: 8px;
    margin-top: 5px;
}
.feed-write li:nth-child(3) div{
    width: 137px;
    height: 10px;
    background-color: #AAADAD;
    border-radius: 8px;
    margin-top: 12px;
}
.feed-write li:nth-child(4) div{
    width: 137px;
    height: 10px;
    background-color: #CBCCCC;
    border-radius: 8px;
    margin-top: 5px;
}
.feed-write li:nth-child(5) div{
    width: 137px;
    height: 10px;
    background-color: #EAEAEA;
    margin-top: 5px;
}

/* 통계 콘텐츠 */
#statistic-content{
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #B7F8DB;
    padding-top: 100px;
    padding-bottom: 200px;
    text-align: center;
}
#statistic-content .inner{
    display: inline-block;
}
#statistic-content .inner .circle{
    margin-top: 30px;
}
#statistic-content .inner .circle div{
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin: 30px;
    background: #87D5D6;
    box-sizing: border-box;
    float: left;
}
#statistic-content .inner h4 {
    font-weight: bolder;
    color: #4B6E64;
    font-size: 25px;

}
#statistic-content .inner p {
    color: #252729;
    margin-top: 49px;
    font-size: 20px;
    line-height: 40px;
}
#statistic-content .circle p{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 70px;
}
#statistic-content .circle .bigger-letter{
    color: #ffffff;
    font-size: 40px;
    margin-top: 5px;
    font-weight: bolder;
}
.pingpong-content div{
    float: left;
    text-align: center;
    transform: translate(15%, 1%);
}
.pingpong-animation {
    width: 100%;
}
.animation-bar {
    position: relative;
    width: 100px;
    margin-left: 53px;
    transform-origin: center bottom;
    background: linear-gradient(to bottom, #B7F8DB, #50A7C2);
}
.animation-bar:before{
    position:absolute;
	top:0;
	left:0;
    width: 100px;
    height: 45px;
    background:linear-gradient(to bottom, #B7F8DB, #50A7C2);
	border-radius:60px/25px;
	content:"";
}
.animation-bar:nth-child(1) {
    height: 194px;
    margin-left: 25px;
    margin-bottom: 0px;
    animation: scaling-bar-1 4s infinite;
}
.animation-bar:nth-child(2) {
    height: 263px;
    animation: scaling-bar-2 4s infinite;
}
.animation-bar:nth-child(3) {
    height: 315px;
}
.animation-bar:nth-child(4) {
    height: 387px;
    animation: scaling-bar-4 4s infinite;
}
.animation-ball {
    position: relative;
    border-radius: 50%;
    bottom: 12px;
    right: 70px;
    width: 43px;
    height: 43px;
    animation: animation-ball 4s infinite;
    background: #FFFF00;
    box-shadow: 0px 3px 6px #B9B9B9;
}
@keyframes animation-ball{
    0% {
        transform: translate(0, 0);
    }
    5% {
        transform: translate(7.5px, -16px);
    }
    10% {
        transform: translate(15px, -12px);
    }
    17% {
        transform: translate(22.5px, -28px);
    }
    20% {
        transform: translate(30px, -24px);
    }
    27% {
        transform: translate(37.5px, -40px);
    }
    30% {
        transform: translate(45px, -36px);
    }
    37% {
        transform: translate(52.5px, -52px);
    }
    40% {
        transform: translate(60px, -48px);
    }
    50% {
        transform: translate(60px, 0);
    }
    57% {
        transform: translate(52.5px, -16px);
    }
    60% {
        transform: translate(45px, -12px);
    }
    67% {
        transform: translate(37.5px, -28px);
    }
    70% {
        transform: translate(30px, -24px);
    }
    77% {
        transform: translate(22.5px, -40px);
    }
    80% {
        transform: translate(15px, -36px);
    }
    87% {
        transform: translate(7.5px, -52px);
    }
    90% {
        transform: translate(0, -48px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* 펫 컬럼 콘텐츠 */
#column-content{
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: 450px;
    background-image: url('../images/column-bg-image.svg');
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#column-content .inner{
    display: inline-block;
}
.column-text{
    padding-top: 100px;
    padding-right: 10px;
}
#column-content .inner h4 {
    font-weight: bolder;
    color: #4B6E64;
    font-size: 25px;
    text-align: center;
}
#column-content .inner p {
    color: #252729;
    margin-top: 49px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

/* 다운로드 콘텐츠 */
#download-content{
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    width: 100%;
    height: 450px;
    background-color: #8BD1A0;
    text-align: center;
}
.confetti{
    animation-duration: 5s;
    animation-name: movement;
    animation-iteration-count: infinite;
}
@keyframes movement {
    10% {
            transform: rotate(10deg);
    }
    30% {
            transform: rotate(-10deg);
    }
    45% {
            transform:  rotate(0deg);
    }
    60% {
            transform: rotate(10deg);
    }
    90% {
            transform: rotate(-10deg);
    }
}

#download-content .download-btn {
    margin-top: 100px;
}
#download-content .download-btn div {
    display: inline-block;
}
#download-content .download-btn img{
    padding: 10px;
}
#download-content .inner h4 {
    font-weight: bolder;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-top: 62px;
}
#download-content .inner p {
    color: #ffffff;
    margin-top: 49px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
#download-content .inner .text img {
    margin-left: 5px;
}
#android-btn:hover{
    content: url('../images/androidDownBtn-hover.svg');
}
#ios-btn:hover{
    content: url('../images/iosDownBtn-hover.svg');
}

/* 반응형 스크롤 배너 */
.landing-wrapper {
    text-align: center;
    width: 99.9%;
    height: 200px;
    /* margin:20px auto; */
    padding-top: 70px;
    overflow:hidden;
    cursor:pointer;
    background-color: #FFFFFF;
}

.landing-inner-content {
    display: inline-block;
    background: #FFF;
    width: 3000px;
    height: 0px;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    /* margin: 20px 0px 0 0; */
    float: left;
    overflow:hidden;
}

.box:first-of-type {
    margin-left:0px;
}

.box:last-of-type {
    margin-right:0px;
}

.box-content {
    /*margin-left: auto;
    margin-right: auto;*/
    top:0;
    left:0;
    z-index: 999;
}

.box-content img {
        width: 100%;
}





/* 푸터 */
#footer{
    padding-top: 50px;
    width: 100%;
    background-color: #ffffff;
    text-align:center;
}
#footer .inner{
    width: 100%
}
.footer-logo{
    display: inline-block;
    padding-top: 100px;
    padding-bottom: 42px;
}
.company-info{
    width: 100%;
    display: inline-block;
}
.info{
    width: 100%;
    display: inline-block;
    margin-bottom: 27px;
}
.info li{
    display: inline-block;
    padding-right: 40px;
    color: #252729;
    border-right: 1px solid #87D5D6;
}
.info li:nth-child(n+2){
    padding-left: 40px;
    padding-right: 40px;
}
.info span{
    font-weight: bold;
}
.service-info{
    width: 100%;
    display: inline-block;
    margin-bottom: 59px;
}
.service-info li{
    display: inline-block;
    padding-right: 40px;
    font-weight: bold;
    border-right: 1px solid #87D5D6;
}
.service-info li:nth-child(n+2){
    padding-left: 40px;
    padding-right: 40px;
}
.service-info ul li a{
    color: #252729;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.service-info li a:hover{
    color: #87D5D6;
    text-decoration: underline;
}
.footer-end{
    width: 100%;
    padding-bottom: 78px;
}
.footer-end li{
    display: inline-block;
}
.footer-end li:nth-child(n+2){
    padding-left: 10px;
    padding-right: 10px;
}
.copyright{
    margin-top: 20px;
}














